## Compilation of docker container definitions useful for local development and deployment
version: "3.5"

services:
  nginx:
    container_name: nginx
    image: jwilder/nginx-proxy:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      DEFAULT_HOST: portainer.docker
    networks:
      - nginx_proxy
    restart: always

  portainer:
    container_name: portainer
    image: portainer/portainer
    volumes:
      - ~/.portainer/storage/data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      VIRTUAL_HOST: portainer.docker
    networks:
      - nginx_proxy
    restart: always
    depends_on:
      - nginx

  ssh-agent:
    container_name: ssh-agent
    image: nardeas/ssh-agent
    network_mode: none
    restart: always
    volumes:
        - ssh-agent-sock-volume:/.ssh-agent

  dnsmasq:
    container_name: dnsmasq
    image: jpillora/dnsmasq
    ports:
      - "53:53/udp"
    environment:
      VIRTUAL_HOST: dns.docker
      VIRTUAL_PORT: 8080
      HTTP_PASS:
      HTTP_USER:
    volumes:
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf
    networks:
      - nginx_proxy
    expose:
      - 8080
    depends_on:
      - nginx
    restart: always

volumes:
  ssh-agent-sock-volume:

networks:
  nginx_proxy:
    name: nginx_proxy
